html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(24, 25, 25, 0.98);
    color: white;
    font-family: sans-serif;
    margin: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row-sudoku {
    display: flex;
    flex-direction: row;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.align-base {
    align-items: baseline;
}

.justify-strech {
    justify-content: stretch;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.inline-block {
    display: inline-block;
}

.cell-container {
    width: 44px;
    height: 44px;
}

.cell {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.2);
}

.CYAN {
    background-color: #edb259;
    border: solid 5px #edb259;
}
.RED {
    background-color: #ec6f4c;
    border: solid 5px #ec6f4c;
}
.BLUE {
    background-color: #41bdf0;
    border: solid 5px #41bdf0;
}
.YELLOW {
    background-color: #fef886;
    border: solid 5px #fef886;
}
.GREEN {
    background-color: #67c08a;
    border: solid 5px #67c08a;
}
.PURPLE {
    background-color: #8269a8;
    border: solid 5px #8269a8;
}
.BRIGHT_PURPLE {
    background-color: #2971b7;
    border: solid 5px #2971b7;
}
.WHITE {
    background-color: #ffffff;
    border: solid 5px #ffffff;
}
.GREY {
    background-color: #f288ae;
    border: solid 5px #f288ae;
}

.white-secondary {
    color: rgba(130,132,133,0.98)
}

.setable {
    border: solid 2px rgba(255,255,255,0.35);
}

.border-solid {
    padding: 15px;
    border: solid 2px white;
}

.flex-row-sudoku:nth-child(3) {
    /*border-bottom: 1px solid black;*/
    margin-bottom: 5px;
}

.flex-row-sudoku:nth-child(6) {
    /*border-bottom: 1px solid black;*/
    margin-bottom: 5px
}

.flex-row-sudoku div:nth-child(3) {
    /*border-right: 1px solid black;*/
    margin-right: 5px;
}

.flex-row-sudoku div:nth-child(6) {
    /*border-right: 1px solid black;*/
    margin-right: 5px;
}

.picker {
    width: 20px;
    height: 20px;
}

.picker-container{
    margin-left: 32px;
    margin-right: auto;
}
.w-20px {
    width: 20px;
}

.w-40px {
    width: 40px;
}

.h-20px {
    width: 20px;
}

.mar-top-20px {
    margin-top: 20px;
}

.mar-top-40px {
    margin-top: 20px;
}


.mar-bot-20px {
    margin-bottom: 20px;
}

.mar-bot-40px {
    margin-bottom: 20px;
}

a {
    display: block;
}

.picker-link {
    width: 100%;
    height: 100%;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.picker-link:hover {
    animation: transform;
    transform: scale(1.5);
}

.button {
    border: solid 1px white;
    color: white;
    text-decoration: none;
    padding: 10px;
    min-width: 150px;
    background-color: #414141;
    border-radius: 3px;
    cursor: pointer;
    font-size: inherit;
}

.button:hover {
    text-decoration: underline;
}

.button:visited {
    text-decoration: none;
}

.setButton{
    display: inline;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    padding: 5px;
    width: 150px;
}

.scale {
    transform: scale(1.5);
}

.main-container {
    max-width: 1000px;
    margin: auto;
}

h1 {
    text-align: left;
    margin: 45px 0;
}

h2 {
    margin: 0;
}
.score,
.comment {
    border: solid 1px rgba(255,255,255,0.4);
    padding: 20px;
}
.score p,
.comment p {
    margin: 0;
    letter-spacing: 1px;
}

.hide {
    display: none;
}

.sudoku-container {
    background-color: #414141;
}

.border-top {
    border-top: 1px solid gray;
    padding-top: 30px;
}

.game-section{
    margin-bottom: 15px;
}

.error {
    color: #FF635B;
}

.success {
    color: #A3F133;
}

.heighlight {
    background-color: #00bcd4;
}

#commentInput {
    width: 50%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 1em;
    color: white;
}

#commentButtons {
    width: 40%;
}

.star {
    cursor: pointer;
    color: transparent;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    display: inline-block;
    text-decoration: none;
}

#yourRating .user-rating ~ .star {
    color: black;
}

#newRating .star:hover ~ .star {
    color: rgb(24, 25, 25);
}

.info {
    padding: 0;
    margin: 0 10px 0 0;
}

.login-container {
    padding: 10px;
    max-width: 310px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
}

#loginInput {
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 1em;
    color: white;
}

.scores {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.font-medium {
    font-size: 1.5em;
}

nav {
    padding: 20px 0;
    border-bottom: solid 2px rgba(255,255,255,0.35);
}

footer {
    margin-top: 40px;
}

.game {
    margin-top: 10%;
}

.rules {
    max-width: 600px;
    font-size: 1.2em;
}

.popup{
    position: absolute;
    width: 60vw;
    text-align: center;
    margin-left: 20vw;
    background: rgba(51,51,51,1);
    padding: 5vh 4vw;
    border-radius: 2px;
    top: 30vh;
    box-sizing: border-box;
    z-index: 1000;
    background: white;
    color: black;
    box-shadow: 1px 1px 10px 1px black;
}

.logo {
    margin-right: auto;
}

@media only screen and ( max-width: 720px) {
    .game-section {
        flex-direction: column;
        align-items: center;
    }

    #options {
        margin-top: 40px;
        width: 80%;
    }

    #options a {
        margin-bottom: 20px;
    }

    .popup{
        width: 80vw;
        margin-left: 10vw;
    }
}



