<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css" screen/>
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="main-container flex-row justify-end">
            <img height="40" src="/images/kpi-logo.svg" class="logo" alt="logo-kpi"/>
            <a th:if="${@userController.logged == false}" class="button" href="/user/">Login</a>
            <a th:if="${@userController.logged}" th:text="${'Logout from ' + @userController.loggedUser}" class="button" href="/user/logout">Logout</a>
        </div>
    </nav>
    <div th:if="${won}" class="popup won">
        <h2> YOU WON! </h2>
        <a class="button" href="/colorSudoku/new">New Game</a>
    </div>
    <div class="main-container">
        <h1>Color Sudoku</h1>
        <h2 th:text="${message}"></h2>
        <div class="flex-row justify-space-between game-section mar-bot-40px">
            <div class="flex-row">
                <div>
                    <div class="flex-column">
                        <p class="error" th:text="${sudokuErrorMessage}"></p>
                        <div class="inline-block border-solid sudoku-container">
                            <div class="flex-row-sudoku" th:each="row, iterI: ${rows}">
                                <th:block th:each="item, iterJ : ${row}">
                                    <div class="cell-container flex-row justify-center align-center">
                                        <a th:href="${'/colorSudoku?row=' + iterI.index + '&column=' + iterJ.index}" class="cell" th:classappend="${item}"></a>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="flex-row mar-top-20px justify-space-around">
                        <a class="setButton" href="/colorSudoku/setGuess" th:classappend="${setGuess ? 'heighlight' : ''}">&#x270e Set guess</a>
                        <a class="setButton" href="/colorSudoku/removeGuess" th:classappend="${deleteGuess ? 'heighlight' : ''}">&#x232b Remove guess</a>
                        </div>
                    </div>
                </div>
                <div class="flex-column justify-space-around w-20px picker-container">
                    <div class="picker"><a class="picker-link RED" th:classappend="${currentColor == 'RED' } ? 'scale' : ''" href="/colorSudoku/setColor?color=RED"></a></div>
                    <div class="picker"><a th:classappend="${currentColor == 'BLUE' } ? 'scale' : ''" class="picker-link BLUE" href="/colorSudoku/setColor?color=BLUE"></a></div>
                    <div class="picker"><a th:classappend="${currentColor == 'YELLOW' } ? 'scale' : ''" class="picker-link YELLOW" href="/colorSudoku/setColor?color=YELLOW"></a></div>
                    <div class="picker"><a th:classappend="${currentColor == 'GREEN' } ? 'scale' : ''" class="picker-link GREEN" href="/colorSudoku/setColor?color=GREEN"></a></div>
                    <div class="picker"><a th:classappend="${currentColor == 'PURPLE' } ? 'scale' : ''" class="picker-link PURPLE" href="/colorSudoku/setColor?color=PURPLE"></a></div>
                    <div class="picker"><a th:classappend="${currentColor == 'BRIGHT_PURPLE' } ? 'scale' : ''" class="picker-link BRIGHT_PURPLE" href="/colorSudoku/setColor?color=BRIGHT_PURPLE"></a></div>
                    <div class="picker"><a th:classappend="${currentColor == 'WHITE' } ? 'scale' : ''" class="picker-link WHITE" href="/colorSudoku/setColor?color=WHITE"></a></div>
                    <div class="picker"><a th:classappend="${currentColor == 'GREY' } ? 'scale' : ''" class="picker-link GREY" href="/colorSudoku/setColor?color=GREY"></a></div>
                    <div class="picker"><a th:classappend="${currentColor == 'CYAN' } ? 'scale' : ''" class="picker-link CYAN" href="/colorSudoku/setColor?color=CYAN"></a></div>
                </div>
            </div>
            <div id="options" class="flex-column justify-space-around">
                <a class="button" href="/colorSudoku/new">New Game</a>
                <a class="button" href="/colorSudoku/howToPlay">How to Play</a>
                <a class="button" href="/colorSudoku#scoresTop">Show best players</a>
                <a class="button" href="/colorSudoku#commentsTop">Comments</a>
                <a class="button" href="/colorSudoku#rating">Rating</a>

            </div>
        </div>

        <div id="ratingTopSection" class="flex-row justify-space-around border-top mar-top-40px">
            <div class="flex-column">
                <div class="flex-row mar-top-40px mar-bot-40px top-players-section">
                    <h2>Rating</h2>
                </div>
                <p class="error" th:if="${ratingErrorMessage != null}" th:text="${ratingErrorMessage}"></p>
                <p class="success" th:if="${ratingSuccessMessage != null}" th:text="${ratingSuccessMessage}"></p>
                <div class="rating" id="rating">
                    <h3>Average:</h3>
                    <p th:if="${notRated}">Not rated yet.</p>
                    <p class="font-medium"><th:block th:each="star: ${avgStars}">
                        <span th:if="${star == 'full'}">&#9733;</span>
                        <span th:if="${star == 'empty'}">&#9734;</span>
                        <span></span></th:block>
                    </p>
                    <th:block th:if="${not @userController.logged}">
                        <p>You can rate game when you log in.</p>
                    </th:block>
                    <th:block th:if="${@userController.logged}">
                        <h3>Your rating:</h3>
                        <div th:if="${userRating > 0}" id="yourRating" class="font-medium">
                            <span class="star" th:classappend="${userRating == 1 ? 'user-rating': 'empty'}">&#9733;</span>
                            <span class="star" th:classappend="${userRating == 2 ? 'user-rating': 'empty'}">&#9733;</span>
                            <span class="star" th:classappend="${userRating == 3 ? 'user-rating': 'empty'}">&#9733;</span>
                            <span class="star" th:classappend="${userRating == 4 ? 'user-rating': 'empty'}">&#9733;</span>
                            <span class="star" th:classappend="${userRating == 5 ? 'user-rating': 'empty'}">&#9733;</span>
                        </div>
                        <h3>New rating:</h3>
                        <div id="newRating" class="font-medium">
                            <a href="/colorSudoku/addRating?rating=1" class="star">&#9733;</a>
                            <a href="/colorSudoku/addRating?rating=2" class="star">&#9733;</a>
                            <a href="/colorSudoku/addRating?rating=3" class="star">&#9733;</a>
                            <a href="/colorSudoku/addRating?rating=4" class="star">&#9733;</a>
                            <a href="/colorSudoku/addRating?rating=5" class="star">&#9733;</a>
                        </div>
                    </th:block>
                </div>
            </div>

            <div class="flex-column">
                <div id="scoresTop" class="flex-row mar-top-40px mar-bot-40px top-players-section">
                    <h2>Best players</h2>
                </div>

                <ul class="scores" id="scores">
                    <th:block th:each="score, iter: ${scores}">
                        <li>
                            <p th:text="${iter.index + 1 + '. ' + score.player + ' - ' + score.points}"></p>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>


        <div id="commentsTop" class="flex-row justify-space-between mar-top-40px mar-bot-40px align-base comments-section border-top">
            <h2>Comments</h2>

            <a th:if="${@userController.logged}" class="button" id="addCommentButton" onClick="handlaAddComment(event)" href="newComment">Add comment</a>
            <a th:if="${not @userController.logged}" class="button" id="addCommentButton" onClick="handlaAddCommentNotLogged(event)">Add comment</a>

        </div>
        <p class="error" th:text="${commentErrorMessage}"></p>
        <p class="success" th:text="${commentSuccessMessage}"></p>
        <div class="hide comment mar-bot-20px" id="addCommentForm">
            <form class="flex-row justify-space-between" method="POST" action="/colorSudoku/addComment">
                <textarea onkeypress="stopProp(event)" maxlength="255" name="commentInput" id="commentInput" type="text" placeholder="Enter your comment."></textarea>
                <div class="flex-column justify-end" id="commentButtons">
                    <div class="flex-row justify-space-between">
                        <a class="button" onclick="handlaHideAddComment(event)">Cance</a>
                        <button type="submit" class="button" >Add Comment</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="comments" id="comments">
            <th:block th:each="comment: ${comments}">
                <div class="comment mar-bot-20px">
                    <div class="flex-row justify-space-between white-secondary mar-bot-20px">
                        <p th:text="${comment.player}"></p>
                        <p th:text="${#dates.format(comment.commentedOn, 'dd/MM/yyyy HH:mm')}"></p>
                    </div>
                    <p th:text="${comment.comment}"></p>
                </div>
            </th:block>
        </div>


    </div>
    <footer>
        <div class="main-container flex-row justify-center mar-top-20px">
            <p class="white-secondary">Created by Erik kandalík &copy; 2020</p>
        </div>
    </footer>
<script type="text/javascript">
    const handlaAddCommentNotLogged = (event) => {
        event.preventDefault();
        alert("You can add new comment when you log in.");
    }
    const handlaAddComment = (event) => {
        event.preventDefault();
        document.getElementById("addCommentForm").classList.remove("hide");
        document.getElementById("addCommentButton").classList.add("hide");
    }
    const handlaHideAddComment = (event) => {
        event.preventDefault();
        document.getElementById("addCommentForm").classList.add("hide");
        document.getElementById("addCommentButton").classList.remove("hide");
    }

    const stopProp = (event) => {
        event.stopPropagation();
    }

    document.addEventListener("keypress", (event) => {
        let color = ""
        let isNumber = true;
        console.log(event.key);
        switch (event.key) {
            case "1":
            case "+":
                color = "RED";
                break;
            case "2":
            case "ľ":
                color = "BLUE";
                break;
            case "3":
            case "š":
                color = "YELLOW";
                break;
            case "4":
            case "č":
                color = "GREEN";
                break;
            case "5":
            case "ť":
                color = "PURPLE";
                break;
            case "6":
            case "ž":
                color = "BRIGHT_PURPLE";
                break;
            case "7":
            case "ý":
                color = "WHITE";
                break;
            case "8":
            case "á":
                color = "GREY";
                break;
            case "9":
            case "í":
                color = "CYAN";
                break;
            default:
                isNumber = false
                break;
        }
        if (isNumber) {
            window.location = `/colorSudoku/setColor?color=${color}`;
        }
    })
</script>
</body>
</html>