<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ColorSudoku - How to play</title>
    <link rel="stylesheet" href="/css/styles.css" screen/>
    </head>
    <nav>
        <div class="main-container flex-row justify-end">
            <img height="40" src="/images/kpi-logo.svg" class="logo" alt="logo-kpi"/>
            <a th:if="${@userController.logged == false}" class="button" href="/user/">Login</a>
            <a th:if="${@userController.logged}" th:text="${'Logout from ' + @userController.loggedUser}" class="button" href="/user/logout">Logout</a>
    </nav>

    <body>
        </div>
    <div class="main-container rules">
        <br/>
        <h2 class="mar-top-40px">How to play ColorSudoku</h2>
        <p>ColorSudoku is color implementation of classic sudoku game. You have colors instead of numbers.</p>
        <p><b>The goal of sudoku is simple:</b> fill in the colors exactly once in every row, column, and 3x3 region.</p>
        <p>
            You can choose which color you want to use by clicking on color pallet next to the game field.</p>
        <p>
            You can also choose color by clicking number 1-9 on keyboard where 1 represent first color in the pallet from top and 9 represents last.
            Selected color is showed bigger in the pallet.
            If you want to place color on specific place in the game field just click on it.
        </p>
            Below game field are "set guess" and "remove guess" buttons located.
            You can choose what you want by clicking at the button. If you want do remove your guess click and "remove guess"
            and click at the cell where you want your guess to be removed.
        </p>
        <div class="flex-row justify-end">
            <a class="button" href="/colorSudoku">Play Color Sudoku</a>
        </div>
    </div>

</body>
</html>