<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css" screen/>
    <title>Gamestudio</title>
</head>
<body>
    <nav>
        <div class="main-container flex-row justify-end">
            <img height="40" src="/images/kpi-logo.svg" class="logo" alt="logo-kpi"/>
            <a th:if="${@userController.logged == false}" class="button" href="/user/">Login</a>
            <a th:if="${@userController.logged}" th:text="${'Logout from ' + @userController.loggedUser}" class="button" href="/user/logout">Logout</a>
        </div>
    </nav>
    <div class="main-container">
        <div class="game flex-row justify-space-between border-solid mar-top-40px">
<!--            <img width="200" height="200" src="images/sudoku.png">-->
            <div class="flex-column">
                <h2>ColorSudoku</h2>
                <p class="error"><b>DO NOT READ THIS. FURTHER READING MIGHT DAMAGE YOUR BRAIN LIKE TELESHOPING.</b></p>
                <p class="error"><b>I WARNED YOU.</b></p>
                <p>Color implementation of classic sudoku game. You are used to colors more than numbers?
                    Then this game just for you. And yes this sounds exactly like teleshoping.
                    You know what? This is not everything! When you play this game, not only you will have lot of fun
                    but you will get ability to play this game again for free! Do not hesitate. This is limited offer.
                    If you contact us right now you will get two source code of this game for price of one!
                    Yes! And it is still not everything! If you will log in, you can even comment this game or add rating and even more.
                </p>
                <p>You do not believe us? Sam did not believe us too, but let me show you what he thinks now.</p>
                <p><b>Sam:</b> <i> I was very sceptical at first but after i turn the game on I was shocked. This game is color sudoku masterpiece.
                    I wanted to play sudoku my whole life, but i could not for whatever reason. But now? With colors it is so easy.
                    You just pick a color and place it whenever you feel. It changed my life.
                    I also contact them right at that moment and thy gave me two source codes of this game, so in case i lost my one copy I have one left.</i>
                </p>

                <p>You still not believe this game can change your life? Just read the text again and again for 20 minutes. Trust me.</p>
                <br/>
                <div class="flex-row justify-end">
                    <a class= "button"href="/colorSudoku">Play game</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="main-container flex-row justify-center mar-top-20px">
            <p class="white-secondary">Created by Erik kandalík &copy; 2020</p>
        </div>
    </footer>
</body>
</html>